---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: network-system-namespace
  namespace: flux-system
spec:
  interval: 5m
  path: "./k8s/namespaces/base/network-system"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: flux-system
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: network-system-cert-manager
  namespace: flux-system
spec:
  interval: 5m
  path: "./k8s/namespaces/base/network-system/cert-manager"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: flux-system
