---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: namespaces
  namespace: flux-system
spec:
  interval: 10m0s
  timeout: 30m
  path: ./k8s/namespaces/overlays/cluster-00
  prune: true
  wait: false
  sourceRef:
    kind: GitRepository
    name: flux-system
